@charset "utf-8";
/* CSS Document */

/* globale def */

*{ 
	margin: 0;
	padding: 0;
	
}

body {
	background: url(flecken.jpg) no-repeat;
	background-size: cover;
	background-position: center;
	
}

/* Farbänderung zu weiß */



/* Bildanimation */

#logo-wrapper{
	width: 250px;
	height: 100vh;
	margin: 0 auto;
}

img {
	width: 250px;
	margin-top: calc(50vh - 125px);
	cursor: pointer;
}

img:hover {}

.invisible {
	animation: disappear 1s linear;
	animation-fill-mode: forwards;
}

@keyframes disappear {
	0% { transform: rotate(0deg)scale(1)}
	100% { transform: rotate(360deg)scale(0) }
}

/* Textanimation */
#text  {
	width: 250px;
	height: 250px;
	position: fixed;
	left: calc(50% - 125px);
	top:  calc(50vh - 125px);
	visibility: hidden;
	text-align: center;
	font-family: 'Special Elite', cursive;
	color: #000;
	line-height: 1.5;
	animation: opacity-change 4s linear;
	animation-fill-mode: forwards;
}

.visible {
	visibility: visible !important;
}

@keyframes opacity-change {
	0% { opacity: 0}
	50% {opacity: 0}
	100% { opacity: 1.0 }
}

/* Form */

form {
	width: 175px;
	margin: 0 auto;

}

form input,form textarea {
	width: 91%;
	font-family: 'Special Elite';
	background-color: rgba(0,0,0,0);
	border: dotted 1px #000;
	text-align: center;
	color: #000;
	font-size: 12px;
	padding: 5px 4%;
	margin-top: 15px;
}

form textarea {
	margin-top: 5px;
	overflow-y: hidden;
	resize: none;
}

form textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 0.8; /* Firefox */
}

form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
	opacity: 0.8; /* Firefox */
}

form textarea::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
	opacity: 0.8; /* Firefox */
}

form input[type=submit] {
	width: 100%;
	cursor: pointer;
	margin-top: 5px;

}

form input[type=submit]:hover {
	border: solid 1px;
}

form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	color: black;
	opacity: 0.8; /* Firefox */
}

form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: black;
	opacity: 0.8; /* Firefox */
}

form input::-ms-input-placeholder { /* Microsoft Edge */
	color: black;
	opacity: 0.8; /* Firefox */
}

/* Mute button */
#mute {
	position: absolute;
	right: 10pt;
	top: 10pt;
	width: 40pt;
	height: 40pt;
	background: url("volume-x.svg") white no-repeat center center;
	border-radius: 100pt;
	cursor: pointer;
}

.mute-on {
	background-image: url("volume.svg") !important
}